<div class="wrapper">

    <section class="our_activity">
        <h2>Why My ToDo App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et
            dolore magna aliqua. </p>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">near_me</i>
                        </div>
                        <h2><a href="#">Listing</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h2><a href="#">Organisation</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-Promo">
                        <div class="promo-icon">
                            <i class="material-icons">dashboard</i>
                        </div>
                        <h2><a href="#">Access secure</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p><i class="material-icons"></i></p>
                        <p class="counter-wrapper"></p>
                        <p class="text-block"></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p><i class="material-icons">language</i></p>
                        <p class="counter-wrapper"><span class="code"></span></p>
                        <p class="text-block">TODOS</p>
                        <p class="text-block"></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p><i class="material-icons">person_add</i></p>
                        <p class="counter-wrapper"><span class="bike"></span></p>
                        <p class="text-block">USERS</p>
                        <h2 class="text-block">{{this.countUsers}}</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 for-border">
                    <div class="block">
                        <p><i class="material-icons"></i></p>
                        <p class="counter-wrapper"></p>
                        <p class="text-block"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>